/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */

body {
    margin: 0;
    background-color: rgb(216, 213, 213);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#cir {  
    background-color: #b81fac;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

#back {
    position: fixed;
    bottom: 0;
    left: 0;
}

#next {
    position: fixed;
    bottom: 0;
    right: 0;
}

.four, .five, .six{
    display: flex;
    justify-content: center;
    align-items: center;
}
